<h1 class="title">About Him</h1>
<p class>Information about me!</p>

<div id="aboutContainer">
    <div id="aboutInventory">
        <div id="aboutItems">
            <button class="aboutItem" id="info">Info</button>
            <button class="aboutItem" id="skills">Skills</button>
            <button class="aboutItem" id="exp">Experience</button>
            <button class="aboutItem" id="extra">Extra</button>
            <button class="aboutItem" onclick="window.location.href='mailto:liamvikennedy@gmail.com'" id="email">Email Me</button>
        </div>

        <div id="aboutDescription">
            <p id="description" class="descriptionText"></p>
        </div>
    </div>
</div>

