<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src="{% static 'home/transitions.js' %}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

</head>
<body>
    <div id="backGif">
        <h1>Welcome to His Site</h1>
        <p>This is a test</p>
    </div>
    <div id="hotbar">
        <a href="/" class="home" title="home"><div id="homeButton"></div></a>
        <a href="/about" title="about"><div id="aboutButton"></div></a>
        <a href="/projects" title="projects"><div id="projectButton"></div></a>
        <a href="/links" title="links"><div id="linkButton"></div></a>
    </div>
</body>
</html>