<h1 class="title">His Links</h1>
<p class>My Links! (yes :D all of them)</p>

<div id="linksContainer">
    <div id="linksInventory">
        <div id="linksItems">
            <button class="linkItem"></button>
            <button class="linkItem" id="githubLink">Github</button>
        </div>
        <div id="linksItems">
            <button class="linkItem"></button>
            <button class="linkItem" id="linkedinLink">LinkedIn</button>
        </div>
        <div id="linksItems">
            <button class="linkItem"></button>
            <button class="linkItem" id="twitterLink">Twitter</button>
        </div>
        <div id="linksItems">
            <button class="linkItem"></button>
            <button class="linkItem" id="instagramLink">Instagram</button>
        </div>
        <div id="linksItems">
            <button class="linkItem"></button>
            <button class="linkItem" id="twitchLink">Twitch</button>
        </div>
        <div id="linksItems">
            <button class="linkItem"></button>
            <button class="linkItem" id="youtubeLink">Youtube</button>
        </div>
        <div id="linksItems">
            <button class="linkItem"></button>
            <button class="linkItem" id="spotifyLink">Spotify</button>
        </div>
        <div id="linksItems">
            <button class="linkItem"></button>
            <button class="linkItem" id="malLink">MAL</button>
        </div>
        <div id="linksItems">
            <button class="linkItem"></button>
            <button class="linkItem" id="discordLink">Discord</button>
        </div>
    </div>
</div>

