<h1 class="title">His Projects</h1>
<p class>Information about my projects!</p>

<div id="projectsContainer">
    <div id="projectsInventory">
        <div id="projectItems">
            <button class="projectItem" id="fManip">GUI File Manipulator</button>
            <button class="projectItem" id="thissite">This website!</button>
            <button class="projectItem" id="stuqa">Student Q&A Platform</button>
        </div>
        <div id="projectDescription">
            <p id="projDescTitle" onmouseover="this.style.color='yellow'" onmouseout="this.style.color='white'" class="projectTitle"></p>
            <p id="projDescText" class="projectText"></p>
        </div>
    </div>
</div>

