@font-face {
    font-family: "HisFontLarge";
    src: url(../fonts/DTM-Mono.otf) format("woff");

}

@font-face {
    font-family: "HisFontSmall";
    src: url(../fonts/DTM-Sans.otf) format("woff");

}

body {
    background-color: black; 
}

#backGif {
    position: fixed;
    top: 0;
    /* right: 2.5%; */
    width: 100%;
    height: 100%;
    background: black url("videos/UTDR_BG.gif") center;
    opacity: 0;
    transition: opacity 1s ease-out;
}

#backGif.loaded {
    opacity: 1;
}
#backGif::before,
#backGif::after {
    content: "";
    position: fixed;
    top: 0;
    width: 3.5%;
    height: 100vh;
    background: black;
    z-index: 2;
}
#backGif::before {
    left: 0;
}
#backGif::after {
    right: 0;
}

#muteButton {
    position: fixed;
    top: -10vh;
    left: 1.65vh;
    width: 46px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("images/play.svg");
    z-index: 9999;
    transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#muteButton.moved {
    top: 1vh;
}
#transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transform: translateX(0);
    z-index: 1;
}
#transition-overlay.prepare-slide-in {
    transition: none !important;
}
#transition-overlay.slide-out {
    transform: translateX(-100%);
}
#transition-overlay.slide-in {
    transform: translateX(100%);
}

#content {
    position: relative;
    z-index: 1;
    padding: 20px;
    min-height: 70vh;
    opacity: 1;
}

#contentLoader {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    min-height: 70vh;
    z-index: 2;
    transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#contentLoader.moved {
    top: 0;
}
#contentLoader.final {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 70vh;
    z-index: 2;
}

#hotbar {
    position: fixed;
    bottom: -15vh;
    left: 0;
    width: 100vw;
    height: 12vh;
    background-color: black;
    opacity: 0.85;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    z-index: 9999;
    flex-basis: auto;
    transition: bottom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#hotbar.moved {
    bottom: 0;
}

/* Button Styles */
#homeButton {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 78px;
    background-image: url("images/home.svg");
}
#homeButton:hover {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 78px;
    background-image: url("images/homeSelected.svg");
}

#aboutButton {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 78px;
    background-image: url("images/about.svg");
}
#aboutButton:hover {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 78px;
    background-image: url("images/aboutSelected.svg");
}

#projectsButton {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 78px;
    background-image: url("images/project.svg");
}
#projectsButton:hover {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 78px;
    background-image: url("images/projectSelected.svg");
}
#linksButton {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 78px;
    
    background-image: url("images/link.svg");
}
#linksButton:hover {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 78px;
    background-image: url("images/linkSelected.svg");
}

#resumeButton {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 78px;
    
    background-image: url("images/resume.svg");
}
#resumeButton:hover {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    max-height: 93px;
    max-width: 78px;
    background-image: url("images/resumeSelected.svg");
}

#textbox
{
    position: relative;
    top: 15vh;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    border-radius: 10px;
}

h1 {
    font-family: "HisFontLarge";
    color: white;
    text-align: center;
    padding: 1px;
}

p {
    font-family: "HisFontSmall";
    color: white;
    text-align: center;
    padding: 1px;
}

/* home page */
#homeContainer {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}
#homeDialogue {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    bottom: 25%;
    width: 100%;               
    height: 100%;   
    max-width: 650px;
    max-height: 250px;
    flex-direction: column;
    align-items: start;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("dialogue/HisText.svg");
    padding-top: .5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    opacity: 0;
}
#homeDialogue.appear {
    opacity: 1;
}
#hisDialogue {
    box-sizing: border-box;
    font-family: "HisFontLarge";
    font-size: larger;
    color: white;
    text-align: left;

}

/* about page */
#aboutContainer {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}
#aboutContainer::-webkit-scrollbar {
    display: none;
}
#aboutInventory {
    display: flex;
    width: 70%;
    height: 70%;
    max-width: 1385px;
    max-height: 655px;
    flex-direction: row;
    align-items: start;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("images/aboutINV.svg");
    gap: 5%;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
}
#aboutItems {
    box-sizing: border-box;
    position: relative;
    width: 23%;
    height: 88%;
    max-height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 5%;
    padding-top: 1%;
}
#aboutItems::-webkit-scrollbar {
    display: none;
}
button.aboutItem {
    background: none;
    border: none;
    font-family: "HisFontLarge";
    font-size: x-large;
    color: white;
    text-align: center;
    z-index: 999;
}
button.aboutItem:hover {
    color: #ffff00;
}
#aboutDescription {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 88%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
}
p.descriptionText {
    font-family: "HisFontSmall";
    font-size: x-large;
    color: white;
    text-align: left;
    line-height: 1.5;
}
#aboutDescription::-webkit-scrollbar {
    display: none;
}
p.about {
    font-family: "HisFontLarge";
    font-size: medium;
    color: white;
    text-align: center;
    padding: 1px;
}


/* projects page */
#projectsContainer {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}
#projectsContainer::-webkit-scrollbar {
    display: none;
}
#projectsInventory {
    display: flex;
    width: 70%;
    height: 70%;
    max-width: 1385px;
    max-height: 655px;
    flex-direction: row;
    align-items: start;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("images/projINV.svg");
    gap: 5%;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    
}
#projectItems {
    box-sizing: border-box;
    position: relative;
    width: 26%;
    height: 88%;
    max-height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 7%;
    padding-top: 2%;
}
#projectItems::-webkit-scrollbar {
    display: none;
}
button.projectItem {
    background: none;
    border: none;
    font-family: "HisFontLarge";
    font-size: x-large;
    color: white;
    text-align: center;
    z-index: 999;
}
button.projectItem:hover {
    color: #ffff00;
}
#projectDescription {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 88%;
    display: flexbox;
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
    padding-top: -1%;
    gap: 0.5%;
}
#projectDescription::-webkit-scrollbar {
    display: none;
}
p.projectTitle {
    font-family: "HisFontSmall";
    font-size: xx-large;
    color: white;
    text-align: left;
    line-height: 1.5;
    word-spacing: 0.1em;
    cursor: default;
}
p.projectText {
    font-family: "HisFontLarge";
    font-size: larger;
    color: white;
    text-align: left;
    line-height: 1.5;
    word-spacing: 0.1em;
}


/* links page */
#linksContainer {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}
#linksInventory {
    display: grid;
    width: 70%;
    height: 70%;
    max-width: 1385px;
    max-height: 655px;
    grid-template-columns: repeat(auto-fill, minmax(1%, 20%));
    grid-template-rows: repeat(auto-fill, minmax(1%, 20%));
    align-items: start;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("images/linksINV.svg");
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    overflow-y: hidden;
}
#linksItems {
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
}
#linksInventory::-webkit-scrollbar {
    display: none;
}
button.linkItem {
    background: none;
    border: none;
    font-family: "HisFontLarge";
    font-size: xx-large;
    color: white;
    text-align: center;
    z-index: 999;
    transition: transform 0.3s ease;
}
button.linkItem:hover {
    color: #ffff00;
    transform: scale(1.2);
}

p.links {
    font-family: "HisFontLarge";
    font-size: x-large;
    color: white;
    text-align: center;
}
#linksDescription {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
#linksRight::-webkit-scrollbar {
    display: none;
}

h1.title {
    font-family: "HisFontLarge";
    color: white;
    text-align: center;
    padding: 1px;
    animation: pulse 1.5s infinite;
}

.notWorking {
    animation: shake 480ms cubic-bezier(.36,.07,.19,.97);
}

.notWorkingText {
    animation: shakeText 480ms cubic-bezier(.36,.07,.19,.97);
}

@keyframes shakeText {
    0%, 100% {
        transform: rotate(0deg) scale(1);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(-0.25deg) scale(1.0002);
    }
    20%, 40%, 60%, 80% {
        transform: rotate(0.25deg) scale(1.0002);
    }
}

@keyframes shake {
    0%, 100% {
        transform: rotate(0deg) scale(1);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(-3deg) scale(1.02);
    }
    20%, 40%, 60%, 80% {
        transform: rotate(3deg) scale(1.02);
    }
}